1 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "080904E4"
		BEGIN
			VALUE "FileDescription", "Radioaktiva Dystopimaskinerna 3000"
			VALUE "FileVersion", "13.37"
			VALUE "InternalName", "Radioaktiva Dystopimaskinerna 3000"
			VALUE "LegalCopyright", "//actung fulkod"
			VALUE "OriginalFilename", "Radioaktiva Dystopimaskinerna 3000.exe"
			VALUE "ProductName", "Radioaktiva Dystopimaskinerna 3000"
			VALUE "ProductVersion", "13.37"
		END
	END

	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x809, 1252
	END
END

2 ICON "icon.ico"
