1 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "080904E4"
		BEGIN
			VALUE "FileDescription", "The Game"
			VALUE "FileVersion", "1.0"
			VALUE "InternalName", "The Game"
			VALUE "LegalCopyright", "//actung fulkod"
			VALUE "OriginalFilename", "thegame.exe"
			VALUE "ProductName", "The Game"
			VALUE "ProductVersion", "1.0"
		END
	END

	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x809, 1252
	END
END

2 ICON "icon.ico"
